.l-nosidebar {
  display:none;
}

@media screen and (min-width:960px) {
  .l-main-nosidebar {
    width:65vw;
    margin:0 auto;
  }
}

.canada-topimage {
  margin:0 auto;
}

.canada-midimage {
  margin:0 auto;
  width:40vw;
}

.canada-midimage img {
  display:inline-block;
}

.canada-botimage {
  margin:0 auto;
}

h3div {
  justify-content: center;
  align-items: center;
}
