.l-nosidebar {
  display:none;
}

.l-main-nosidebar {
  width:65vw;
  margin:0 auto;
}

.canada-topimage {
  margin:0 auto;
}

.canada-midimage {
  margin:0 auto;
}

.canada-botimage {
  margin:0 auto;
}
